/* Mint green: #d3eee1 */
/* Sea foam: #7FA191 */
/* Royal purple: #663399 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

#santa {
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3);
}
.santa-run {
  height: 355px;
  width: 225px;
  margin-top: 5px;
  /* margin-right: 75px; */

  display: inline-block;
}

.santa-logo {
  height: 65px;
  width: 255px;
}

/**************************************
REUSABLE COMPONENTS
**************************************/

section {
  padding: 50px 0px;
}

h3 {
  font-weight: 500;
  font-size: 200%;
  margin-bottom: 80px;
  width: 65%;
}

/**************************************
HEADER
**************************************/

header {
  padding: 120px 120px 60px 120px;
}

h1 {
  font-size: 150%;
  line-height: 1.05em;
  font-weight: 400;
  width: 75%;
}

h2 {
  width: 65%;
  font-weight: 300;
}

.girl-emoji {
  display: inline-block;
  transform: scale(-1, 1);
}

/**************************************
PROJECTS
**************************************/

#projects {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}

.wsj {
  width: 75%;
}
.project-left,
.project-right {
  max-width: 85%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: stretch;
  margin-bottom: 80px;
}

.project__hero {
  flex: 0 0 50%;
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: auto;
  display: block;
  transform: scale(1.15);
  transition: transform 0.5s;
}

.project__img:hover {
  transform: scale(1.03);
}

.project__content {
  flex: 1;
  background: white;
  padding: 35px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__title {
  display: flex;
  flex-direction: column;
  transition: color 0.3s;
}

.project__link:link,
.project__link:visited {
  text-decoration: none;
  color: #555;
}

.project__title:hover,
.project__link:hover,
.project__link:active {
  display: flex;
  flex-direction: column;
  color: #7fa191;
}

.project__type {
  font-size: 50%;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #7fa191;
  margin-bottom: 10px;
}

.project__heading {
  font-size: 150%;
  font-weight: 300;
  margin-bottom: 20px;
}

.project__description {
  font-size: 75%;
  font-weight: 300;
  line-height: 140%;
}

.challenge {
  font-weight: 400;
  font-size: 85%;
  text-transform: uppercase;
}

.project__details {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.project__detail {
  font-size: 65%;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 500;

  display: flex;
  align-items: center;
}

.emoji {
  font-size: 20px;
  margin-right: 3px;
}

/**************************************
ART
**************************************/

#art {
  display: flex;
  flex-direction: column;
  padding-left: 130px;
}

/**************************************
CONTACT
**************************************/

#contact {
  padding-left: 120px;
  margin-top: 80px;
}

.contact-dek {
  font-size: 100%;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-email {
  color: #999;
  text-decoration: underline;
  font-weight: 300;
  transition: color 0.5s;
}

.contact-email:hover {
  color: #d3eee1;
}

/**************************************
FOOTER
**************************************/

.footer-box {
  display: flex;
  padding: 150px 120px 30px 120px;
}

.footer-box__logo {
  flex: 1;
  font-weight: 400;
  font-size: 100%;
  transition: color 0.3s;
  text-decoration: none;
  color: #555;
}

.footer-box__logo:hover {
  color: #7fa191;
}

.footer-box__delight {
  font-weight: 300;
  font-size: 80%;
  transition: color 0.5s;
  justify-content: center;
}

.social-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.social-link:link,
.social-link:visited {
  margin: 0px 25px 0px 5px;
  color: #555;
  transition: color 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #7fa191;
}

/* -------------------------------------------------------
----------- Bact-to-Top Styling Starts Here --------------
---------------------------------------------------------*/
.agave-logo {
  width: 8%;
}

/* .back-to-top {
	background: #9babd4;
	margin: 0;
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	z-index: 90;
	display: none;
	box-shadow: 0 2px 10px #CCCCFF;
	text-decoration: none;
	color: #0E1729;
}

.back-to-top i {
	position: relative;
	left: 15px;
	top: 10px;
	font-size: 24px;
	color: #FFFFFF;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.back-to-top:hover {
  background: #3333FF;
  color: #FFFFFF;
}

.back-to-top:hover i {
	top: 8px;
}

.back-to-top:focus {
  color: #FFFFFF;
} */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: coral;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
